h1{
  color: red;
  font-size: 200px;
}

img:hover {
  background-color: gold;
}

.bacon{
  background-color: green;
}

.broccoli{
  background-color: red;
}

.circular {
  border-radius: 100%;
}

/*class can anytime if you want. otherwise, id can't use twice or more.*/

#heading{
  color: blue;
}

#big {
  font-size: 1000px;
}